#baelor-splash-section {
	padding-top: 0px;
	width: 100%;

	@media (max-width: $small-devices-width) {
		height: 40vh;

		background: url(../images/docs-cover.jpg) no-repeat center center fixed;
		background-size: cover;

		.splash-box {
			height: 100%;

			.mask {
				padding-top: 50px;
			}
		}
	}

	.splash-box {
		position: relative;
		
		video {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;

			display: block;
		}

		.mask {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			height: 100%;
			z-index: 100;
			padding: 0;
			margin: 0;
			padding-top: 8%;
			background: rgba(164, 164, 164, 0.40);

			.content {
				font-weight: 100;
				text-align: center;
				color: #fff;

				h1 {
					font-family: $font-stack-header;
					font-weight: 100;
					font-size: 80px;
				}

				h2 {
					font-family: $font-stack;
					font-weight: 100;
					font-size: 25px;
				}

				@media (max-width: $small-devices-width) {
					h1 {
						font-size: 55px;
					}

					h2 {
						font-size: 20px;
					}
				}

				@media (max-width: $extra-small-devices-width) {
					h1 {
						font-size: 30px;
					}

					h2 {
						font-size: 16px;
					}
				}
			}
		}
	}
}

.baelor-info-section {
	padding-top: 60px;
	padding-bottom: 90px;

	@media (max-width: $small-devices-width) {
		padding-top: 10px;
		padding-bottom: 30px;

		h3 {
			text-align: center;
		}
	}

	.api-demo {
		h3 {
			font-family: $font-stack;
			color: #fff;
			font-weight: 300;
		}
		p {
			color: #fff;
			font-size: 12px;
			padding-left: 10px;
			padding-top: 5px;
		}

		.loader {
			transition: all 1.3s cubic-bezier(0, 1, 0.5, 1);
			transition-property: height, padding;

			height: 0;
			opacity: 0;
			width: 30px;
			padding: 0 0;
			margin: 0 auto;
		}

		#api-demo-response {
			display: none;
			margin-top: 35px;

			&.active {
				display: block;
			}

			h4 {
				font-family: $font-stack;
				color: #fff;
				font-weight: 300;
			}
		}
	}
}

#top-banner-section {
	background-color: $primary-red;
	padding-left: 15px;
	padding-right: 15px;

	.mobile-api-demo {
		text-align: center;
		margin-top: 20px;

		#api-path-prefix {
			border-radius: 0;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			padding-top: 8px;
			padding-bottom: 8px;
		}
		.api-preview-path {
			border-radius: 0;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			text-align: center;
		}
		#api-request-button {
			margin: 20px auto;
		}
	}
}
