.loader-pulse {
	border: 3px solid #fff;
	border-radius: 30px;

	height: 0px;
	opacity: 0;
	padding-top: 0px;

	left: 50%;
	top: 50%;
	width: 30px;
	animation: pulsate 1s ease-out;
	animation-iteration-count: infinite;

	-webkit-animation: pulsate 1s ease-out;
	-webkit-animation-iteration-count: infinite;

	-moz-animation: pulsate 1s ease-out;
	-moz-animation-iteration-count: infinite;

	-o-animation: pulsate 1s ease-out;
	-o-animation-iteration-count: infinite;

	&.active {
		height: 240px;
		opacity: 1.0;
		padding-top: 140px;
	}
}

@keyframes pulsate {
	0% {
		transform: scale(.1);
		opacity: 0.0;
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}

@-webkit-keyframes pulsate {
	0% {
		transform: scale(.1);
		opacity: 0.0;
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}

@-moz-keyframes pulsate {
	0% {
		transform: scale(.1);
		opacity: 0.0;
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}

@-o-keyframes pulsate {
	0% {
		transform: scale(.1);
		opacity: 0.0;
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}