$primary-red: #e45a5a;
$secondary-red: #ff0000;

$font-stack: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-stack-header: 'Exo', "Helvetica Neue", Helvetica, Arial, sans-serif;

$extra-small-devices-width: 480px;
$small-devices-width: 768px;
$medium-devices-width: 992px;
$large-devices-width: 1200px;

// Import Partials
@import "_loaders.scss";

body {
	font-family: $font-stack;
}

code {
	font-family: Consolas, Menlo;
}

pre {
	border-radius: 0;
	padding: 0;
}

.navbar-default {
	// TODO: impliment this using affix/scrollspy
	//background-color: rgba(248, 248, 248, 0.70);
	//border-color: rgba(231, 231, 231, 0.70);
}

a {
	color: $primary-red !important;
	transition-property: color, text;
	transition-duration: 0.2s;
	transition-timing-function: linear, ease-in;

	&:hover {
		color: $secondary-red !important;
	}
}

// Import Pages
@import "_home.scss";
@import "_docs.scss";
