@{
	ViewBag.Title = "Docs :: Baelor.io";
	ViewBag.BodyDataSpy = "scroll";
	ViewBag.BodyDataTarget = "#docs-sidebar";
}

@section socialmeta {
	<!-- Generic -->
	<meta itemprop="name" content="Docs | Baelor Api">
	<meta itemprop="description" content="Complete documentation on how to comsume data from baelor.io.">
	<meta itemprop="image" content="https://baelor.io/images/docs-cover.jpg">
	<meta name="description" content="Complete documentation on how to comsume data from baelor.io." />

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site:id" content="221180324">
	<meta name="twitter:title" content="Docs | Baelor Api">
	<meta name="twitter:description" content="Complete documentation on how to comsume data from baelor.io.">
	<meta name="twitter:image:src" content="https://baelor.io/images/docs-cover.jpg">

	<!-- Open Graph data -->
	<meta property="og:title" content="Docs | Baelor Api" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="https://baelor.io/images/docs-cover.jpg" />
	<meta property="og:description" content="Complete documentation on how to comsume data from baelor.io." />
	<meta property="og:site_name" content="Baelor Api" />
}

<section id="api-docs-header">
	<div class="mask">
		<div class="container">
			<h1>api docs</h1>
			<h2>full set of resources and information required to use baelor.io</h2>
		</div>
	</div>
</section>

<section id="api-docs-content">
	<div class="row">
		<div id="docs-sidebar-container" class="col-md-3 hidden-sm hidden-xs">
			<nav class="api-docs-sidebar" id="docs-sidebar" data-spy="affix" data-offset-top="500" data-offset-bottom="250">
				<ul class="nav api-docs-sidenav" role="tablist">
					<li>
						<a href="#authentication">Authentication</a>
					</li>
					<li>
						<a href="#headers">Headers</a>
					</li>
					<li>
						<a href="#response">Response</a>
					</li>
					<li>
						<a href="#errors">Errors</a>
					</li>
					<li>
						<hr />
					</li>
					<li>
						<a href="#users">Users</a>
						<ul class="nav">
							<li><a href="#create-user">Create User</a></li>
							<li><a href="#get-user">Get Current User</a></li>
							<li><a href="#get-user-data">Get User Data from Credentials</a></li>
						</ul>
					</li>
					<li>
						<a href="#albums">Albums</a>
						<ul class="nav">
							<li><a href="#create-album">Create Album</a></li>
							<li><a href="#patch-album">Patch Album</a></li>
							<li><a href="#get-albums">Get Albums</a></li>
							<li><a href="#get-album">Get Album</a></li>
						</ul>
					</li>
					<li>
						<a href="#songs">Songs</a>
						<ul class="nav">
							<li><a href="#create-song">Create Song</a></li>
							<li><a href="#patch-song">Patch Song</a></li>
							<li><a href="#get-songs">Get Songs</a></li>
							<li><a href="#get-song">Get Song</a></li>
						</ul>
					</li>
					<li>
						<a href="#lyrics">Lyrics</a>
						<ul class="nav">
							<li><a href="#create-lyric">Create Lyrics</a></li>
							<li><a href="#patch-lyric">Patch Lyrics</a></li>
							<li><a href="#get-lyric">Get Lyrics</a></li>
						</ul>
					</li>
					<li>
						<a href="#images">Images</a>
						<ul class="nav">
							<li><a href="#get-image">Get Image</a></li>
						</ul>
					</li>
					<li>
						<a href="#bae">Bae</a>
						<ul class="nav">
							<li><a href="#get-bae">Get Taylor's bae status</a></li>
							<li><a href="#get-bae-status">Get the bae status of a word</a></li>
						</ul>
					</li>
				</ul>
				<a class="back-to-top hidden-xs hidden-sm" href="#top">
					Back to top
				</a>
			</nav>
		</div>

		<div class="col-md-8 api-docs">
			<section id="authentication" class="api-docs-section">
				<h1>Authentication</h1>
				<hr />

				<article class="api-docs-article">
					<h2>Unauthorized</h2>
					<p>
						Not much to say here. Go have fun!
					</p>
				</article>

				<article class="api-docs-article">
					<h2>Authorized</h2>
					<p>
						Here we go.. When you <a href="#create-user">create a user</a>, the API will return an <code>api_key</code>. You can use that API key to make authenticated requests from that point on. To use the API key, set the header <code>Authorization</code> to the following value <code>bearer api_key</code>. For more information, and examples, look in the <a href="#headers">headers</a> section of the documentation.
					</p>
				</article>

				<article class="api-docs-article">
					<h2>Admin Authorization</h2>
					<p>
						You won't really need to worry about this one. It is only avaiable if the user is an admin. I just documented it as I forget stuff.
					</p>
				</article>
			</section>
			<section id="headers" class="api-docs-section">
				<h1>Headers</h1>
				<hr />

				<article class="api-docs-article">
					<h2>Request Headers</h2>
					<p>These are headers that you're application can send </p>

					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<td>Header</td>
									<td>Required</td>
									<td>Value</td>
									<td>Description</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Accept</td>
									<td><span class="label label-success">yes</span></td>
									<td>application/json</td>
									<td>The data type you want the API to return.</td>
								</tr>
								<tr>
									<td>Authorization</td>
									<td><span class="label label-danger">no</span></td>
									<td>bearer api_key</td>
									<td>Your API key. Used this on requests marked with the <span class="label label-warning">Authorized</span> badge.</td>
								</tr>
								<tr>
									<td>Content-Type</td>
									<td><span class="label label-warning">if doing a POST</span></td>
									<td>application/json</td>
									<td>The format of the data in your POST body.</td>
								</tr>
							</tbody>
						</table>
					</div> 
				</article>

				<article class="api-docs-article">
					<h2>Response Headers</h2>
					<p>These headers are returned by the API. The <code>X-RateLimit-*</code> headers are only returned on authenticated requests.</p>

					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<td>Header</td>
									<td>Value</td>
									<td>Description</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>X-BaelorApi-Version</td>
									<td>v0</td>
									<td>The version of the API you're querying.</td>
								</tr>
								<tr>
									<td>X-Bad-Mistakes</td>
									<td>add me on tinder xox</td>
									<td>great idea ladies - xoxo gossip girl</td>
								</tr>
								<tr>
									<td>X-Purple-Swag</td>
									<td>i still sip</td>
									<td>Purple weed, blunt still lit.</td>
								</tr>
								<tr>
									<td>X-RateLimit-Limit</td>
									<td>1000</td>
									<td>The number of requests an api key is allowed to make per hour.</td>
								</tr>
								<tr>
									<td>X-RateLimit-Remaining</td>
									<td>[0-1000]</td>
									<td>How many requests this API key has this hour.</td>
								</tr>
								<tr>
									<td>X-RateLimit-Reset</td>
									<td>2015-02-26T18:00:00</td>
									<td>When the rate limit will reset - UTC time.</td>
								</tr>
							</tbody>
						</table>
					</div> 
				</article>
			</section>
			<section id="response" class="api-docs-section">
				<h1>Response</h1>
				<hr />

				<article class="api-docs-article">
					<h2>Base Response</h2>
<pre><code class="json">{
    "result": null,
    "error": null,
    "success": false
}</code></pre>
					<ul>
						<li>
							<code>result</code>:
							Contains a response object - look below for details. If there was an error, it will be null.
						</li>
						<li>
							<code>error</code>:
							Contains an error object - look below for details. If there was no error, it will be null.
						</li>
						<li>
							<code>success</code>:
							If the response returned an error, this will be false. Otherwise, true. Go figure.
						</li>
					</ul>
				</article>
				<article class="api-docs-article">
					<h2>Error Response Details</h2>
<pre><code class="json">{
    "result": null,
    "error": {
        "status_code": [integer_error_id],
        "description": "[error_description]",
        "details": null
    },
    "success": false
}</code></pre>
					<h3>status_code</h3>
					<p>
						This is an interger representation of the error. This can easily be mapped to an enum for catching errors. For a list of all error statuses, check the
						<a target="_blank" href="https://github.com/0xdeafcafe/baelor-api/blob/master/src/BaelorApi/Models/Api/Error/Enums/ErrorStatus.cs">src/BaelorApi/Models/Api/Error/Enums/ErrorStatus.cs</a>
						file.
					</p>

					<h3>status_code</h3>
					<p>
						This is a string representation of the error. This can easily be used for client localization. For a list of all error descriptions, check the
						<a target="_blank" href="https://github.com/0xdeafcafe/baelor-api/blob/master/src/BaelorApi/Extentions/EnumExtentions.cs">src/BaelorApi/Extentions/EnumExtentions.cs</a>
						file.
					</p>

					<h3>details</h3>
					<p>
						This holds additional error details the client app could use to identity where it went wrong. This can be null.
					</p>
				</article>
				<article class="api-docs-article">
					<h2>Result Response Details</h2>
					<p>
						This is always different. For examples of what the fuck this can look like, look at the desired endpoint documentation below.
					</p>
				</article>
			</section>
			<section class="api-docs-section" id="errors">
				<h1>Errors</h1>
				<hr />

				<article class="api-docs-article">
					<h2>Http Status Codes</h2>
					<p>
						The api will returns the correct HTTP status code, rather than always just a generic 200:OK with the error in the json response. This makes sense, and application logic must be aware of this. This also means that you can always tell if there was an error in the request based on if the response status code isn't 200:OK
					</p>
				</article>

				<article class="api-docs-article">
					<h2>Baelor Errors</h2>
					<p>
						The endpoint can return a wide (and increasing) range of errors. Below are a list of all the errors (this list will always be up to date), but be aware that more can be added, and make sure the application logic allows for this. The API returns both a status and a description, the description is designed to be shown to the user in the event that the description is new and hasn't been added to the localization table in the applications logic.
					</p>

					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<td>
										Error Status
									</td>
									<td>
										Error Description
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>0x1069</td>
									<td><code>generic_server_error</code></td>
								</tr>
								<tr>
									<td>0x106A</td>
									<td><code>invalid_album_slug</code></td>
								</tr>
								<tr>
									<td>0x106B</td>
									<td><code>invalid_song_slug</code></td>
								</tr>
								<tr>
									<td>0x106C</td>
									<td><code>song_already_exists</code></td>
								</tr>
								<tr>
									<td>0x106D</td>
									<td><code>album_already_exists</code></td>
								</tr>
								<tr>
									<td>0x106E</td>
									<td><code>invalid_image_id</code></td>
								</tr>
								<tr>
									<td>0x106F</td>
									<td><code>data_validation_failed</code></td>
								</tr>
								<tr>
									<td>0x1070</td>
									<td><code>request_requires_authentication</code></td>
								</tr>
								<tr>
									<td>0x1071</td>
									<td><code>invalid_api_key</code></td>
								</tr>
								<tr>
									<td>0x1072</td>
									<td><code>revoked_api_key</code></td>
								</tr>
								<tr>
									<td>0x1073</td>
									<td><code>rate_limit_exceeded</code></td>
								</tr>
								<tr>
									<td>0x1074</td>
									<td><code>insufficient_privileges</code></td>
								</tr>
								<tr>
									<td>0x1075</td>
									<td><code>song_doesnt_contain_lyrics</code></td>
								</tr>
								<tr>
									<td>0x1076</td>
									<td><code>song_already_contains_lyrics</code></td>
								</tr>
								<tr>
									<td>0x1077</td>
									<td><code>unable_to_create_lyrics</code></td>
								</tr>
								<tr>
									<td>0x1078</td>
									<td><code>demo_api_key_not_acceptable</code></td>
								</tr>
							</tbody>
						</table>
					</div>
				</article>
			</section>

			<section id="users" class="api-docs-section">
				<h1>Users</h1>
				<hr />

				<article id="create-user" class="api-docs-article">
					<h2>Create User</h2>
					<hr />
					<h3>
						<span class="label label-success">Unauthorized</span>
						<span class="label label-info">POST</span>
						::
						<code>api/v0/users</code>
					</h3>
					<h3>
						This endpoint will allow you to create a user.
					</h3>

					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<td>
										Parameter
									</td>
									<td>
										Required
									</td>
									<td>
										Requirements
									</td>
									<td>
										Description
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										username
									</td>
									<td>
										<span class="label label-success">yes</span>
									</td>
									<td>
										Between 1 and 25 characters long, and match
										<code>(?![\s])(?!.*[_-]{2})[a-zA-Z0-9-_]+(?<![\s])</code>
									</td>
									<td>
										The friendly identifier of the account.
									</td>
								</tr>
								<tr>
									<td>
										email_address
									</td>
									<td>
										<span class="label label-success">yes</span>
									</td>
									<td>
										Well.. Be a valid email address.
									</td>
									<td>
										The email address tied to the account
									</td>
								</tr>
								<tr>
									<td>
										password
									</td>
									<td>
										<span class="label label-success">yes</span>
									</td>
									<td>
										Be longer than 8 characters.. Also contain at least two of the following; number, lowercase letter, uppercase letter
									</td>
									<td>
										The password used to log into the account.
									</td>
								</tr>
								<tr>
									<td>
										password_confirm
									</td>
									<td>
										<span class="label label-success">yes</span>
									</td>
									<td>
										Be the same as <code>password</code>
									</td>
									<td>
										Secondary imput of the password to validate it was typed in correctly.
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#create-user-request" aria-controls="create-user-request" role="tab" data-toggle="tab">Request</a>
						</li>
						<li role="presentation">
							<a href="#create-user-response" aria-controls="create-user-response" role="tab" data-toggle="tab">Response</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="create-user-request">
<pre><code class="json">{
	"username": "0xdeafcafe",
	"email_address": "alex@linda.internet",
	"password": "heroinaddict420",
	"password_confirm": "heroinaddict420"
}</code></pre>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="create-user-response">
<pre><code class="json">{
	"result": {
		"username": "0xdeafcafe",
		"email_address": "alex@linda.internet",
		"api_key": "IhgQkfmck/T69n+J8OoisYUS1ZD6oPFjuheqfnOlbJJw=",
		"is_admin": false
	},
	"error": null,
	"success": true
}</code></pre>
						</div>
					</div>
				</article>
				<article id="get-user" class="api-docs-article">
					<h2>Get Current User</h2>
					<hr />
					<h3>
						<span class="label label-warning">Authorized</span>
						<span class="label label-info">GET</span>
						::
						<code>api/v0/users</code>
					</h3>
					<h3>
						This endpoint will return the data of the authenticated user.
					</h3>

					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#get-user-response" aria-controls="get-user-response" role="tab" data-toggle="tab">Response</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="get-user-response">
<pre><code class="json">{
	"result": {
		"username": "0xdeafcafe",
		"email_address": "alex@linda.internet",
		"api_key": "IhgQkfmck/T69n+J8OoisYUS1ZD6oPFjuheqfnOlbJJw=",
		"is_admin": false
	},
	"error": null,
	"success": true
}</code></pre>
						</div>
					</div>
				</article>
				<article id="get-user-data" class="api-docs-article">
					<h2>Get User Data from Credentials</h2>
					<hr />
					<h3>
						<span class="label label-success">Unauthorized</span>
						<span class="label label-info">GET</span>
						::
						<code>api/v0/user/</code>
					</h3>

					<p>TODO</p>
				</article>
			</section>
			<section id="albums" class="api-docs-section">
				<h1>Albums</h1>
				<hr />

				<article id="create-album" class="api-docs-article">
					<h2>Create Album</h2>
					<hr />
					<h3>
						<span class="label label-danger">Admin Authorization</span>
						<span class="label label-info">POST</span>
						::
						<code>api/v0/album/</code>
					</h3>
					<h3>
						This endpoint will create an album.
					</h3>

					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<td>
										Parameter
									</td>
									<td>
										Required
									</td>
									<td>
										Requirements
									</td>
									<td>
										Description
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										name
									</td>
									<td>
										<span class="label label-success">yes</span>
									</td>
									<td>
										Be a string.
									</td>
									<td>
										The name of the album.
									</td>
								</tr>
								<tr>
									<td>
										label
									</td>
									<td>
										<span class="label label-success">yes</span>
									</td>
									<td>
										Be a string.
									</td>
									<td>
										The label that published the album.
									</td>
								</tr>
								<tr>
									<td>
										producers
									</td>
									<td>
										<span class="label label-success">yes</span>
									</td>
									<td>
										Be a string array.
									</td>
									<td>
										A list of the producers of the album.
									</td>
								</tr>
								<tr>
									<td>
										genres
									</td>
									<td>
										<span class="label label-success">yes</span>
									</td>
									<td>
										Be a string array.
									</td>
									<td>
										A list of the genres of the album.
									</td>
								</tr>
								<tr>
									<td>
										length_in_seconds
									</td>
									<td>
										<span class="label label-success">yes</span>
									</td>
									<td>
										Be an unsigned integer.
									</td>
									<td>
										The length of the album in seconds.
									</td>
								</tr>
								<tr>
									<td>
										released_at
									</td>
									<td>
										<span class="label label-success">yes</span>
									</td>
									<td>
										Be a valid DateTime object.
									</td>
									<td>
										The date the album was released.
									</td>
								</tr>
								<tr>
									<td>
										image_id
									</td>
									<td>
										<span class="label label-success">yes</span>
									</td>
									<td>
										Be a valid Guid.
									</td>
									<td>
										The Id of the image that represents the album cover.
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#create-album-request" aria-controls="create-album-request" role="tab" data-toggle="tab">Request</a>
						</li>
						<li role="presentation">
							<a href="#create-album-response" aria-controls="create-album-response" role="tab" data-toggle="tab">Response</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="create-album-request">
<pre><code class="json">{
	"name": "1989",
	"label": "Big Machine",
	"released_at": "2014-10-27T00:00:00",
	"length_in_seconds": 4116,
	"producers": [
        "Max Martin",
        "Taylor Swift",
        "Jack Antonoff",
        "Nathan Chapman",
        "Imogen Heap",
        "Greg Kurstin",
        "Mattman & Robin",
        "Ali Payami",
        "Shellback",
        "Ryan Tedder",
        "Noel Zancanella"
    ],
	"writers": [
		"Taylor Swift",
		"Max Martin",
		"Shellback",
		"Ali Payami"
	],
	"image_id": "ca9232a3-363a-4be6-2870-08d21467e516"
}</code></pre>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="create-album-response">
<pre><code class="json">{
    "result": {
        "slug": "1989",
        "name": "1989",
        "released_at": "2014-10-27T00:00:00",
        "length": "01:08:36",
        "label": "Big Machine",
        "genres": [
            "Pop",
            "Synthpop"
        ],
        "producers": [
            "Max Martin",
            "Taylor Swift",
            "Jack Antonoff",
            "Nathan Chapman",
            "Imogen Heap",
            "Greg Kurstin",
            "Mattman & Robin",
            "Ali Payami",
            "Shellback",
            "Ryan Tedder",
            "Noel Zancanella"
        ],
        "songs": [],
        "album_cover": {
            "image_id": "ca9232a3-363a-4be6-2870-08d21467e516"
        }
    },
    "error": null,
    "success": true
}</code></pre>
						</div>
					</div>
				</article>
				<article id="patch-album" class="api-docs-article">
					<h2>Patch Album</h2>
					<hr />
					<h3>
						<span class="label label-danger">Admin Authorization</span>
						<span class="label label-info">PATCH</span>
						::
						<code>api/v0/album/</code>
					</h3>

					<p>TODO</p>
				</article>
				<article id="get-albums" class="api-docs-article">
					<h2>Get Albums</h2>
					<hr />
					<h3>
						<span class="label label-warning">Authorized</span>
						<span class="label label-info">GET</span>
						::
						<code>api/v0/albums</code>
					</h3>
					<h3>
						This endpoint will return a list of all of Taylor Swift's albums.
					</h3>
					<p>
						Response has been shortened for cleanliness.
					</p>

					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#get-albums-response" aria-controls="get-albums-response" role="tab" data-toggle="tab">Response</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="get-albums-response">
<pre><code class="json">{
    "result": [
        {
            "slug": "taylor-swift",
            "name": "Taylor Swift",
            "released_at": "2006-10-24T00:00:00",
            "length": "00:38:26",
            "label": "Big Machine",
            "genres": [
                "Country"
            ],
            "producers": [
                "Scott Borchetta",
                "Nathan Chapman",
                "Robert Ellis Orrall"
            ],
            "songs": [
                {
                    "index": 1,
                    "slug": "tim-mcgraw",
                    "title": "Tim McGraw",
                    "length": "00:03:54",
                    "writers": [
                        "Taylor Swift",
                        "Liz Rose"
                    ],
                    "producers": [
                        "Nathan Chapman",
                        "Robert Ellis Orrall"
                    ],
                    "has_lyrics": true
                },
                {
                    "index": 2,
                    "slug": "picture-to-burn",
                    "title": "Picture to Burn",
                    "length": "00:02:55",
                    "writers": [
                        "Taylor Swift",
                        "Liz Rose"
                    ],
                    "producers": [
                        "Nathan Chapman",
                        "Robert Ellis Orrall"
                    ],
                    "has_lyrics": true
                }
            ],
            "album_cover": {
                "image_id": "c780c63f-8f19-4961-2873-08d21467e516"
            }
        },
        {
            "slug": "fearless",
            "name": "Fearless",
            "released_at": "2008-11-11T00:00:00",
            "length": "00:53:33",
            "label": "Big Machine",
            "genres": [
                "Country",
                "Country Pop"
            ],
            "producers": [
                "Scott Borchetta",
                "Nathan Chapman",
                "Taylor Swift"
            ],
            "songs": [
                {
                    "index": 1,
                    "slug": "jump-then-fall",
                    "title": "Jump Then Fall",
                    "length": "00:03:56",
                    "writers": [
                        "Taylor Swift"
                    ],
                    "producers": [
                        "Taylor Swift",
                        "Nathan Chapman"
                    ],
                    "has_lyrics": true
                },
                {
                    "index": 2,
                    "slug": "untouchable",
                    "title": "Untouchable",
                    "length": "00:05:11",
                    "writers": [
                        "Taylor Swift",
                        "Cary Barlowe",
                        "Nathan Barlowe",
                        "Tommy Lee James"
                    ],
                    "producers": [
                        "Taylor Swift",
                        "Nathan Chapman"
                    ],
                    "has_lyrics": true
                }
            ],
            "album_cover": {
                "image_id": "e0a70654-05ca-44bb-2871-08d21467e516"
            }
        },
        {
            "slug": "speak-now",
            "name": "Speak Now",
            "released_at": "2010-10-25T00:00:00",
            "length": "01:07:29",
            "label": "Big Machine",
            "genres": [
                "Country Pop"
            ],
            "producers": [
                "Nathan Chapman",
                "Taylor Swift"
            ],
            "songs": [
                {
                    "index": 1,
                    "slug": "mine",
                    "title": "Mine",
                    "length": "00:03:50",
                    "writers": [
                        "Taylor Swift"
                    ],
                    "producers": [
                        "Nathan Chapman",
                        "Taylor Swift"
                    ],
                    "has_lyrics": true
                },
                {
                    "index": 2,
                    "slug": "sparks-fly",
                    "title": "Sparks Fly",
                    "length": "00:04:20",
                    "writers": [
                        "Taylor Swift"
                    ],
                    "producers": [
                        "Nathan Chapman",
                        "Taylor Swift"
                    ],
                    "has_lyrics": true
                }
            ],
            "album_cover": {
                "image_id": "5b2091df-33b2-4a01-2872-08d21467e516"
            }
        }
    ],
    "error": null,
    "success": true
}</code></pre>
						</div>
					</div>
				</article>
				<article id="get-album" class="api-docs-article">
					<h2>Get Album</h2>
					<hr />
					<h3>
						<span class="label label-warning">Authorized</span>
						<span class="label label-info">GET</span>
						::
						<code>api/v0/albums/{album-slug}</code>
					</h3>
					<h3>
						This endpoint will return the data of a specific Taylor Swift album.
					</h3>
					<p>
						Response has been shortened for cleanliness.
					</p>

					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#get-album-response" aria-controls="get-album-response" role="tab" data-toggle="tab">Response</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="get-album-response">
<pre><code class="json">{
    "result": {
        "slug": "1989",
        "name": "1989",
        "released_at": "2014-10-27T00:00:00",
        "length": "01:08:36",
        "label": "Big Machine",
        "genres": [
            "Pop",
            "Synthpop"
        ],
        "producers": [
            "Max Martin",
            "Taylor Swift",
            "Jack Antonoff",
            "Nathan Chapman",
            "Imogen Heap",
            "Greg Kurstin",
            "Mattman & Robin",
            "Ali Payami",
            "Shellback",
            "Ryan Tedder",
            "Noel Zancanella"
        ],
        "songs": [
            {
                "index": 1,
                "slug": "welcome-to-new-york",
                "title": "Welcome to New York",
                "length": "00:03:32",
                "writers": [
                    "Taylor Swift",
                    "Ryan Tedder"
                ],
                "producers": [
                    "Ryan Tedder",
                    "Noel Zancanella",
                    "Taylor Swift"
                ],
                "has_lyrics": true
            },
            {
                "index": 2,
                "slug": "blank-space",
                "title": "Blank Space",
                "length": "00:03:51",
                "writers": [
                    "Taylor Swift",
                    "Max Martin",
                    "Shellback"
                ],
                "producers": [
                    "Max Martin",
                    "Shellback"
                ],
                "has_lyrics": true
            },
            {
                "index": 3,
                "slug": "style",
                "title": "Style",
                "length": "00:03:51",
                "writers": [
                    "Taylor Swift",
                    "Max Martin",
                    "Shellback",
                    "Ali Payami"
                ],
                "producers": [
                    "Max Martin",
                    "Shellback",
                    "Ali Payami"
                ],
                "has_lyrics": true
            },
            {
                "index": 4,
                "slug": "out-of-the-woods",
                "title": "Out of the Woods",
                "length": "00:03:55",
                "writers": [
                    "Taylor Swift",
                    "Jack Antonoff"
                ],
                "producers": [
                    "Max Martin",
                    "Taylor Swift",
                    "Jack Antonoff"
                ],
                "has_lyrics": true
            },
            {
                "index": 5,
                "slug": "all-you-had-to-do-was-stay",
                "title": "All You Had to Do Was Stay",
                "length": "00:03:13",
                "writers": [
                    "Taylor Swift",
                    "Max Martin"
                ],
                "producers": [
                    "Max Martin",
                    "Shellback",
                    "Mattman & Robin"
                ],
                "has_lyrics": true
            },
            {
                "index": 6,
                "slug": "shake-it-off",
                "title": "Shake It Off",
                "length": "00:03:39",
                "writers": [
                    "Taylor Swift",
                    "Max Martin",
                    "Shellback"
                ],
                "producers": [
                    "Max Martin",
                    "Shellback"
                ],
                "has_lyrics": true
            },
            {
                "index": 7,
                "slug": "i-wish-you-would",
                "title": "I Wish You Would",
                "length": "00:03:27",
                "writers": [
                    "Taylor Swift",
                    "Jack Antonoff"
                ],
                "producers": [
                    "Jack Antonoff",
                    "Taylor Swift",
                    "Greg Kurstin",
                    "Max Martin"
                ],
                "has_lyrics": true
            },
            {
                "index": 8,
                "slug": "bad-blood",
                "title": "Bad Blood",
                "length": "00:03:31",
                "writers": [
                    "Taylor Swift",
                    "Max Margin",
                    "Shellback"
                ],
                "producers": [
                    "Max Martin",
                    "Shellback"
                ],
                "has_lyrics": true
            },
            {
                "index": 9,
                "slug": "wildest-dreams",
                "title": "Wildest Dreams",
                "length": "00:03:40",
                "writers": [
                    "Taylor Swift",
                    "Max Margin",
                    "Shellback"
                ],
                "producers": [
                    "Max Martin",
                    "Shellback"
                ],
                "has_lyrics": true
            },
            {
                "index": 10,
                "slug": "how-you-get-the-girl",
                "title": "How You Get the Girl",
                "length": "00:04:07",
                "writers": [
                    "Taylor Swift",
                    "Max Margin",
                    "Shellback"
                ],
                "producers": [
                    "Max Martin",
                    "Shellback"
                ],
                "has_lyrics": true
            }
        ],
        "album_cover": {
            "image_id": "ca9232a3-363a-4be6-2870-08d21467e516"
        }
    },
    "error": null,
    "success": true
}</code></pre>
						</div>
					</div>
				</article>
			</section>
			<section id="songs" class="api-docs-section">
				<h1>Songs</h1>
				<hr />

				<article id="create-song" class="api-docs-article">
					<h2>Create Song</h2>
					<hr />
					<h3>
						<span class="label label-danger">Admin Authorization</span>
						<span class="label label-info">POST</span>
						::
						<code>api/v0/songs/</code>
					</h3>
					<h3>
						This endpoint will create a song.
					</h3>

					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<td>
										Parameter
									</td>
									<td>
										Required
									</td>
									<td>
										Requirements
									</td>
									<td>
										Description
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										album_slug
									</td>
									<td>
										<span class="label label-success">yes</span>
									</td>
									<td>
										Be a string, and the slug of a valid album.
									</td>
									<td>
										The slug of the album this song belongs too.
									</td>
								</tr>
								<tr>
									<td>
										title
									</td>
									<td>
										<span class="label label-success">yes</span>
									</td>
									<td>
										Be a string.
									</td>
									<td>
										The title of the song.
									</td>
								</tr>
								<tr>
									<td>
										producers
									</td>
									<td>
										<span class="label label-success">yes</span>
									</td>
									<td>
										Be a string array.
									</td>
									<td>
										A list of the producers of the song.
									</td>
								</tr>
								<tr>
									<td>
										writers
									</td>
									<td>
										<span class="label label-success">yes</span>
									</td>
									<td>
										Be a string array.
									</td>
									<td>
										A list of the writers of the song.
									</td>
								</tr>
								<tr>
									<td>
										length_in_seconds
									</td>
									<td>
										<span class="label label-success">yes</span>
									</td>
									<td>
										Be an unsigned integer.
									</td>
									<td>
										The length of the song in seconds.
									</td>
								</tr>
								<tr>
									<td>
										index
									</td>
									<td>
										<span class="label label-success">yes</span>
									</td>
									<td>
										Be an unsigned integer.
									</td>
									<td>
										The index of the song on the Album.
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#create-song-request" aria-controls="create-song-request" role="tab" data-toggle="tab">Request</a>
						</li>
						<li role="presentation">
							<a href="#create-song-response" aria-controls="create-song-response" role="tab" data-toggle="tab">Response</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="create-song-request">
<pre><code class="json">{
	"album_slug": "1989",
	"title": "Style",
	"producers": [
		"Max Martin",
		"Shellback",
		"Ali Payami"
	],
	"writers": [
		"Taylor Swift",
		"Max Martin",
		"Shellback",
		"Ali Payami"
	],
	"length_in_seconds": 231,
	"index": 3
}</code></pre>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="create-song-response">
<pre><code class="json">{
	"result": {
		"index": 3,
		"slug": "style",
		"title": "Style",
		"length": "00:03:51",
		"writers": [
			"Taylor Swift",
			"Max Martin",
			"Shellback",
			"Ali Payami"
		],
		"producers": [
			"Max Martin",
			"Shellback",
			"Ali Payami"
		],
		"album": {
			"slug": "1989",
			"name": "1989",
			"released_at": "2014-10-27T00:00:00",
			"length": "01:08:36",
			"label": "Big Machine",
			"genres": [
				"Pop",
				"Synthpop"
			],
			"producers": [
				"Max Martin",
				"Taylor Swift",
				"Jack Antonoff",
				"Nathan Chapman",
				"Imogen Heap",
				"Greg Kurstin",
				"Mattman & Robin",
				"Ali Payami",
				"Shellback",
				"Ryan Tedder",
				"Noel Zancanella"
			],
			"album_cover": {
				"image_id": "ca9232a3-363a-4be6-2870-08d21467e516"
			}
		},
		"has_lyrics": false
	},
	"error": null,
	"success": true
}</code></pre>
						</div>
					</div>
				</article>
				<article id="patch-song" class="api-docs-article">
					<h2>Patch Song</h2>
					<hr />
					<h3>
						<span class="label label-danger">Admin Authorization</span>
						<span class="label label-info">PATCH</span>
						::
						<code>api/v0/songs/{song-slug}</code>
					</h3>
					<h3>
						This endpoint will patch the details for the song with the specific slug.
					</h3>

					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<td>
										Parameter
									</td>
									<td>
										Required
									</td>
									<td>
										Requirements
									</td>
									<td>
										Description
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										title
									</td>
									<td>
										<span class="label label-danger">no</span>
									</td>
									<td>
										Be a string.
									</td>
									<td>
										The title of the song.
									</td>
								</tr>
								<tr>
									<td>
										producers
									</td>
									<td>
										<span class="label label-danger">no</span>
									</td>
									<td>
										Be a string array.
									</td>
									<td>
										A list of the producers of the song.
									</td>
								</tr>
								<tr>
									<td>
										writers
									</td>
									<td>
										<span class="label label-danger">no</span>
									</td>
									<td>
										Be a string array.
									</td>
									<td>
										A list of the writers of the song.
									</td>
								</tr>
								<tr>
									<td>
										length_in_seconds
									</td>
									<td>
										<span class="label label-danger">no</span>
									</td>
									<td>
										Be an unsigned integer.
									</td>
									<td>
										The length of the song in seconds.
									</td>
								</tr>
								<tr>
									<td>
										index
									</td>
									<td>
										<span class="label label-danger">no</span>
									</td>
									<td>
										Be an unsigned integer.
									</td>
									<td>
										The index of the song on the Album.
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#patch-song-request" aria-controls="patch-song-request" role="tab" data-toggle="tab">Request</a>
						</li>
						<li role="presentation">
							<a href="#patch-song-response" aria-controls="patch-song-response" role="tab" data-toggle="tab">Response</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="patch-song-request">
<pre><code class="json">{
    "title": "Style",
	"producers": [
        "Max Martin",
        "Shellback",
        "Ali Payami"
    ],
    "writers": [
		"Taylor Swift",
		"Max Martin",
		"Shellback",
		"Ali Payami"
	],
    "length_in_seconds": 231,
    "index": 3
}</code></pre>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="patch-song-response">
<pre><code class="json">{
    "result": {
        "index": 3,
        "slug": "style",
        "title": "Style",
        "length": "00:03:51",
        "writers": [
            "Taylor Swift",
            "Max Martin",
            "Shellback",
            "Ali Payami"
        ],
        "producers": [
            "Max Martin",
            "Shellback",
            "Ali Payami"
        ],
        "album": {
            "slug": "1989",
            "name": "1989",
            "released_at": "2014-10-27T00:00:00",
            "length": "01:08:36",
            "label": "Big Machine",
            "genres": [
                "Pop",
                "Synthpop"
            ],
            "producers": [
                "Max Martin",
                "Taylor Swift",
                "Jack Antonoff",
                "Nathan Chapman",
                "Imogen Heap",
                "Greg Kurstin",
                "Mattman & Robin",
                "Ali Payami",
                "Shellback",
                "Ryan Tedder",
                "Noel Zancanella"
            ],
            "album_cover": {
                "image_id": "ca9232a3-363a-4be6-2870-08d21467e516"
            }
        },
        "has_lyrics": true
    },
    "error": null,
    "success": true
}</code></pre>
						</div>
					</div>
				</article>
				<article id="get-songs" class="api-docs-article">
					<h2>Get Songs</h2>
					<hr />
					<h3>
						<span class="label label-warning">Authorized</span>
						<span class="label label-info">GET</span>
						::
						<code>api/v0/songs</code>
					</h3>
					<h3>
						This endpoint will return a list of all of Taylor Swift's songs.
					</h3>
					<p>
						Response has been shortened for cleanliness.
					</p>

					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#get-songs-response" aria-controls="get-songs-response" role="tab" data-toggle="tab">Response</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="get-songs-response">
<pre><code class="json">{
    "result": [
        {
            "index": 1,
            "slug": "welcome-to-new-york",
            "title": "Welcome to New York",
            "length": "00:03:32",
            "writers": [
                "Taylor Swift",
                "Ryan Tedder"
            ],
            "producers": [
                "Ryan Tedder",
                "Noel Zancanella",
                "Taylor Swift"
            ],
            "album": {
                "slug": "1989",
                "name": "1989",
                "released_at": "2014-10-27T00:00:00",
                "length": "01:08:36",
                "label": "Big Machine",
                "genres": [
                    "Pop",
                    "Synthpop"
                ],
                "producers": [
                    "Max Martin",
                    "Taylor Swift",
                    "Jack Antonoff",
                    "Nathan Chapman",
                    "Imogen Heap",
                    "Greg Kurstin",
                    "Mattman & Robin",
                    "Ali Payami",
                    "Shellback",
                    "Ryan Tedder",
                    "Noel Zancanella"
                ],
                "album_cover": {
                    "image_id": "ca9232a3-363a-4be6-2870-08d21467e516"
                }
            },
            "has_lyrics": true
        },
        {
            "index": 2,
            "slug": "blank-space",
            "title": "Blank Space",
            "length": "00:03:51",
            "writers": [
                "Taylor Swift",
                "Max Martin",
                "Shellback"
            ],
            "producers": [
                "Max Martin",
                "Shellback"
            ],
            "album": {
                "slug": "1989",
                "name": "1989",
                "released_at": "2014-10-27T00:00:00",
                "length": "01:08:36",
                "label": "Big Machine",
                "genres": [
                    "Pop",
                    "Synthpop"
                ],
                "producers": [
                    "Max Martin",
                    "Taylor Swift",
                    "Jack Antonoff",
                    "Nathan Chapman",
                    "Imogen Heap",
                    "Greg Kurstin",
                    "Mattman & Robin",
                    "Ali Payami",
                    "Shellback",
                    "Ryan Tedder",
                    "Noel Zancanella"
                ],
                "album_cover": {
                    "image_id": "ca9232a3-363a-4be6-2870-08d21467e516"
                }
            },
            "has_lyrics": true
        },
        {
            "index": 3,
            "slug": "style",
            "title": "Style",
            "length": "00:03:51",
            "writers": [
                "Taylor Swift",
                "Max Martin",
                "Shellback",
                "Ali Payami"
            ],
            "producers": [
                "Max Martin",
                "Shellback",
                "Ali Payami"
            ],
            "album": {
                "slug": "1989",
                "name": "1989",
                "released_at": "2014-10-27T00:00:00",
                "length": "01:08:36",
                "label": "Big Machine",
                "genres": [
                    "Pop",
                    "Synthpop"
                ],
                "producers": [
                    "Max Martin",
                    "Taylor Swift",
                    "Jack Antonoff",
                    "Nathan Chapman",
                    "Imogen Heap",
                    "Greg Kurstin",
                    "Mattman & Robin",
                    "Ali Payami",
                    "Shellback",
                    "Ryan Tedder",
                    "Noel Zancanella"
                ],
                "album_cover": {
                    "image_id": "ca9232a3-363a-4be6-2870-08d21467e516"
                }
            },
            "has_lyrics": true
        },
        {
            "index": 4,
            "slug": "out-of-the-woods",
            "title": "Out of the Woods",
            "length": "00:03:55",
            "writers": [
                "Taylor Swift",
                "Jack Antonoff"
            ],
            "producers": [
                "Max Martin",
                "Taylor Swift",
                "Jack Antonoff"
            ],
            "album": {
                "slug": "1989",
                "name": "1989",
                "released_at": "2014-10-27T00:00:00",
                "length": "01:08:36",
                "label": "Big Machine",
                "genres": [
                    "Pop",
                    "Synthpop"
                ],
                "producers": [
                    "Max Martin",
                    "Taylor Swift",
                    "Jack Antonoff",
                    "Nathan Chapman",
                    "Imogen Heap",
                    "Greg Kurstin",
                    "Mattman & Robin",
                    "Ali Payami",
                    "Shellback",
                    "Ryan Tedder",
                    "Noel Zancanella"
                ],
                "album_cover": {
                    "image_id": "ca9232a3-363a-4be6-2870-08d21467e516"
                }
            },
            "has_lyrics": true
        },
        {
            "index": 5,
            "slug": "all-you-had-to-do-was-stay",
            "title": "All You Had to Do Was Stay",
            "length": "00:03:13",
            "writers": [
                "Taylor Swift",
                "Max Martin"
            ],
            "producers": [
                "Max Martin",
                "Shellback",
                "Mattman & Robin"
            ],
            "album": {
                "slug": "1989",
                "name": "1989",
                "released_at": "2014-10-27T00:00:00",
                "length": "01:08:36",
                "label": "Big Machine",
                "genres": [
                    "Pop",
                    "Synthpop"
                ],
                "producers": [
                    "Max Martin",
                    "Taylor Swift",
                    "Jack Antonoff",
                    "Nathan Chapman",
                    "Imogen Heap",
                    "Greg Kurstin",
                    "Mattman & Robin",
                    "Ali Payami",
                    "Shellback",
                    "Ryan Tedder",
                    "Noel Zancanella"
                ],
                "album_cover": {
                    "image_id": "ca9232a3-363a-4be6-2870-08d21467e516"
                }
            },
            "has_lyrics": true
        },
        {
            "index": 6,
            "slug": "shake-it-off",
            "title": "Shake It Off",
            "length": "00:03:39",
            "writers": [
                "Taylor Swift",
                "Max Martin",
                "Shellback"
            ],
            "producers": [
                "Max Martin",
                "Shellback"
            ],
            "album": {
                "slug": "1989",
                "name": "1989",
                "released_at": "2014-10-27T00:00:00",
                "length": "01:08:36",
                "label": "Big Machine",
                "genres": [
                    "Pop",
                    "Synthpop"
                ],
                "producers": [
                    "Max Martin",
                    "Taylor Swift",
                    "Jack Antonoff",
                    "Nathan Chapman",
                    "Imogen Heap",
                    "Greg Kurstin",
                    "Mattman & Robin",
                    "Ali Payami",
                    "Shellback",
                    "Ryan Tedder",
                    "Noel Zancanella"
                ],
                "album_cover": {
                    "image_id": "ca9232a3-363a-4be6-2870-08d21467e516"
                }
            },
            "has_lyrics": true
        },
        {
            "index": 7,
            "slug": "i-wish-you-would",
            "title": "I Wish You Would",
            "length": "00:03:27",
            "writers": [
                "Taylor Swift",
                "Jack Antonoff"
            ],
            "producers": [
                "Jack Antonoff",
                "Taylor Swift",
                "Greg Kurstin",
                "Max Martin"
            ],
            "album": {
                "slug": "1989",
                "name": "1989",
                "released_at": "2014-10-27T00:00:00",
                "length": "01:08:36",
                "label": "Big Machine",
                "genres": [
                    "Pop",
                    "Synthpop"
                ],
                "producers": [
                    "Max Martin",
                    "Taylor Swift",
                    "Jack Antonoff",
                    "Nathan Chapman",
                    "Imogen Heap",
                    "Greg Kurstin",
                    "Mattman & Robin",
                    "Ali Payami",
                    "Shellback",
                    "Ryan Tedder",
                    "Noel Zancanella"
                ],
                "album_cover": {
                    "image_id": "ca9232a3-363a-4be6-2870-08d21467e516"
                }
            },
            "has_lyrics": true
        }
    ],
    "error": null,
    "success": true
}</code></pre>
						</div>
					</div>
				</article>
				<article id="get-song" class="api-docs-article">
					<h2>Get Song</h2>
					<hr />
					<h3>
						<span class="label label-warning">Authorized</span>
						<span class="label label-info">GET</span>
						::
						<code>api/v0/songs/{song-slug}</code>
					</h3>
					<h3>
						This endpoint will return the data of a specific Taylor Swift song.
					</h3>

					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#get-song-response" aria-controls="get-song-response" role="tab" data-toggle="tab">Response</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="get-song-response">
<pre><code class="json">{
    "result": {
        "index": 3,
        "slug": "style",
        "title": "Style",
        "length": "00:03:51",
        "writers": [
            "Taylor Swift",
            "Max Martin",
            "Shellback",
            "Ali Payami"
        ],
        "producers": [
            "Max Martin",
            "Shellback",
            "Ali Payami"
        ],
        "album": {
            "slug": "1989",
            "name": "1989",
            "released_at": "2014-10-27T00:00:00",
            "length": "01:08:36",
            "label": "Big Machine",
            "genres": [
                "Pop",
                "Synthpop"
            ],
            "producers": [
                "Max Martin",
                "Taylor Swift",
                "Jack Antonoff",
                "Nathan Chapman",
                "Imogen Heap",
                "Greg Kurstin",
                "Mattman & Robin",
                "Ali Payami",
                "Shellback",
                "Ryan Tedder",
                "Noel Zancanella"
            ],
            "album_cover": {
                "image_id": "ca9232a3-363a-4be6-2870-08d21467e516"
            }
        },
        "has_lyrics": true
    },
    "error": null,
    "success": true
}</code></pre>
						</div>
					</div>
				</article>
			</section>
			<section id="lyrics" class="api-docs-section">
				<h1>Lyrics</h1>
				<hr />

				<article id="create-lyric" class="api-docs-article">
					<h2>Create Lyrics</h2>
					<hr />
					<h3>
						<span class="label label-danger">Admin Authorization</span>
						<span class="label label-info">POST</span>
						::
						<code>api/v0/songs/{song-slug}/lyrics</code>
					</h3>
					<h3>
						This endpoint will create lyric for the song with the specific slug.
					</h3>

					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<td>
										Parameter
									</td>
									<td>
										Required
									</td>
									<td>
										Requirements
									</td>
									<td>
										Description
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										lyrics
									</td>
									<td>
										<span class="label label-success">yes</span>
									</td>
									<td>
										Be a string.
									</td>
									<td>
										The lyrics of the song.
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#create-lyric-request" aria-controls="create-lyric-request" role="tab" data-toggle="tab">Request</a>
						</li>
						<li role="presentation">
							<a href="#create-lyric-response" aria-controls="create-lyric-response" role="tab" data-toggle="tab">Response</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="create-lyric-request">
<pre><code class="json">{
  "lyrics": "Midnight\nYou come and pick me up, no headlights\nLong drive\nCould end in burning flames or paradise\nFade into view, oh\nIt's been a while since I have even heard from you (heard from you)\n\nI should just tell you to leave 'cause I\nKnow exactly where it leads but I\nWatch us go 'round and 'round each time\n\nYou got that James Dean daydream look in your eye\nAnd I got that red lip classic thing that you like\nAnd then we go crashing down, we come back every time\n'Cause we never go out of style\nWe never go out of style\n\nYou got that long hair, slick back, white t-shirt\nAnd I got that good girl faith and a tight little skirt\nAnd when we go crashing down, we come back every time\n we never go out of style\nWe never go out of style\n\nSo it goes\nHe can't keep his wild eyes on the road, \nTakes me home\nLights are off, he's taking off his coat, \nI say I heard, oh\nThat you've been out and about with some other girl\nSome other girl\n\nHe says what you heard is true but I\nCan't stop thinking about you and I\nI said I've been there too a few times\n\n'Cause you got that James Dean daydream look in your eye\nAnd I got that red lip classic thing that you like\nAnd then we go crashing down, we come back every time\n'Cause we never go out of style\nWe never go out of style\n\nYou got that long hair, slick back, white t-shirt\nAnd I got that good girl faith and a tight little skirt\nAnd when we go crashing down, we come back every time\n we never go out of style\nWe never go out of style\n\nTake me home\nJust take me home\nYeah, just take me home\n\n(Out of style)\n\nOh, you got that James Dean daydream look in your eye\nAnd I got that red lip classic thing that you like\nAnd then we go crashing down, we come back every time\n we never go out of style\nWe never go out of style",
}</code></pre>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="create-lyric-response">
<pre><code class="json">{
    "result": {
        "lyrics": "Midnight\nYou come and pick me up, no headlights\nLong drive\nCould end in burning flames or paradise\nFade into view, oh\nIt's been a while since I have even heard from you (heard from you)\n\nI should just tell you to leave 'cause I\nKnow exactly where it leads but I\nWatch us go 'round and 'round each time\n\nYou got that James Dean daydream look in your eye\nAnd I got that red lip classic thing that you like\nAnd then we go crashing down, we come back every time\n'Cause we never go out of style\nWe never go out of style\n\nYou got that long hair, slick back, white t-shirt\nAnd I got that good girl faith and a tight little skirt\nAnd when we go crashing down, we come back every time\n we never go out of style\nWe never go out of style\n\nSo it goes\nHe can't keep his wild eyes on the road, \nTakes me home\nLights are off, he's taking off his coat, \nI say I heard, oh\nThat you've been out and about with some other girl\nSome other girl\n\nHe says what you heard is true but I\nCan't stop thinking about you and I\nI said I've been there too a few times\n\n'Cause you got that James Dean daydream look in your eye\nAnd I got that red lip classic thing that you like\nAnd then we go crashing down, we come back every time\n'Cause we never go out of style\nWe never go out of style\n\nYou got that long hair, slick back, white t-shirt\nAnd I got that good girl faith and a tight little skirt\nAnd when we go crashing down, we come back every time\n we never go out of style\nWe never go out of style\n\nTake me home\nJust take me home\nYeah, just take me home\n\n(Out of style)\n\nOh, you got that James Dean daydream look in your eye\nAnd I got that red lip classic thing that you like\nAnd then we go crashing down, we come back every time\n we never go out of style\nWe never go out of style",
        "song": {
            "index": 3,
            "slug": "style",
            "title": "Style",
            "length": "00:03:51",
            "writers": [
                "Taylor Swift",
                "Max Martin",
                "Shellback",
                "Ali Payami"
            ],
            "producers": [
                "Max Martin",
                "Shellback",
                "Ali Payami"
            ],
            "album": {
                "slug": "1989",
                "name": "1989",
                "released_at": "2014-10-27T00:00:00",
                "length": "01:08:36",
                "label": "Big Machine",
                "genres": [
                    "Pop",
                    "Synthpop"
                ],
                "producers": [
                    "Max Martin",
                    "Taylor Swift",
                    "Jack Antonoff",
                    "Nathan Chapman",
                    "Imogen Heap",
                    "Greg Kurstin",
                    "Mattman & Robin",
                    "Ali Payami",
                    "Shellback",
                    "Ryan Tedder",
                    "Noel Zancanella"
                ],
                "album_cover": {
                    "image_id": "ca9232a3-363a-4be6-2870-08d21467e516"
                }
            },
            "has_lyrics": true
        }
    },
    "error": null,
    "success": true
}</code></pre>
						</div>
					</div>
				</article>
				<article id="patch-lyric" class="api-docs-article">
					<h2>Patch Lyrics</h2>
					<hr />
					<h3>
						<span class="label label-danger">Admin Authorization</span>
						<span class="label label-info">PATCH</span>
						::
						<code>api/v0/songs/{song-slug}/lyrics</code>
					</h3>
					<h3>
						This endpoint will patch the lyrics for the song with the specific slug.
					</h3>

					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<td>
										Parameter
									</td>
									<td>
										Required
									</td>
									<td>
										Requirements
									</td>
									<td>
										Description
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										lyrics
									</td>
									<td>
										<span class="label label-success">yes</span>
									</td>
									<td>
										Be a string.
									</td>
									<td>
										The lyrics of the song.
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#patch-lyric-request" aria-controls="patch-lyric-request" role="tab" data-toggle="tab">Request</a>
						</li>
						<li role="presentation">
							<a href="#patch-lyric-response" aria-controls="patch-lyric-response" role="tab" data-toggle="tab">Response</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="patch-lyric-request">
<pre><code class="json">{
  "lyrics": "Midnight\nYou come and pick me up, no headlights\nLong drive\nCould end in burning flames or paradise\nFade into view, oh\nIt's been a while since I have even heard from you (heard from you)\n\nI should just tell you to leave 'cause I\nKnow exactly where it leads but I\nWatch us go 'round and 'round each time\n\nYou got that James Dean daydream look in your eye\nAnd I got that red lip classic thing that you like\nAnd then we go crashing down, we come back every time\n'Cause we never go out of style\nWe never go out of style\n\nYou got that long hair, slick back, white t-shirt\nAnd I got that good girl faith and a tight little skirt\nAnd when we go crashing down, we come back every time\n we never go out of style\nWe never go out of style\n\nSo it goes\nHe can't keep his wild eyes on the road, \nTakes me home\nLights are off, he's taking off his coat, \nI say I heard, oh\nThat you've been out and about with some other girl\nSome other girl\n\nHe says what you heard is true but I\nCan't stop thinking about you and I\nI said I've been there too a few times\n\n'Cause you got that James Dean daydream look in your eye\nAnd I got that red lip classic thing that you like\nAnd then we go crashing down, we come back every time\n'Cause we never go out of style\nWe never go out of style\n\nYou got that long hair, slick back, white t-shirt\nAnd I got that good girl faith and a tight little skirt\nAnd when we go crashing down, we come back every time\n we never go out of style\nWe never go out of style\n\nTake me home\nJust take me home\nYeah, just take me home\n\n(Out of style)\n\nOh, you got that James Dean daydream look in your eye\nAnd I got that red lip classic thing that you like\nAnd then we go crashing down, we come back every time\n we never go out of style\nWe never go out of style",
}</code></pre>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="patch-lyric-response">
<pre><code class="json">{
    "result": {
        "lyrics": "Midnight\nYou come and pick me up, no headlights\nLong drive\nCould end in burning flames or paradise\nFade into view, oh\nIt's been a while since I have even heard from you (heard from you)\n\nI should just tell you to leave 'cause I\nKnow exactly where it leads but I\nWatch us go 'round and 'round each time\n\nYou got that James Dean daydream look in your eye\nAnd I got that red lip classic thing that you like\nAnd then we go crashing down, we come back every time\n'Cause we never go out of style\nWe never go out of style\n\nYou got that long hair, slick back, white t-shirt\nAnd I got that good girl faith and a tight little skirt\nAnd when we go crashing down, we come back every time\n we never go out of style\nWe never go out of style\n\nSo it goes\nHe can't keep his wild eyes on the road, \nTakes me home\nLights are off, he's taking off his coat, \nI say I heard, oh\nThat you've been out and about with some other girl\nSome other girl\n\nHe says what you heard is true but I\nCan't stop thinking about you and I\nI said I've been there too a few times\n\n'Cause you got that James Dean daydream look in your eye\nAnd I got that red lip classic thing that you like\nAnd then we go crashing down, we come back every time\n'Cause we never go out of style\nWe never go out of style\n\nYou got that long hair, slick back, white t-shirt\nAnd I got that good girl faith and a tight little skirt\nAnd when we go crashing down, we come back every time\n we never go out of style\nWe never go out of style\n\nTake me home\nJust take me home\nYeah, just take me home\n\n(Out of style)\n\nOh, you got that James Dean daydream look in your eye\nAnd I got that red lip classic thing that you like\nAnd then we go crashing down, we come back every time\n we never go out of style\nWe never go out of style",
        "song": {
            "index": 3,
            "slug": "style",
            "title": "Style",
            "length": "00:03:51",
            "writers": [
                "Taylor Swift",
                "Max Martin",
                "Shellback",
                "Ali Payami"
            ],
            "producers": [
                "Max Martin",
                "Shellback",
                "Ali Payami"
            ],
            "album": {
                "slug": "1989",
                "name": "1989",
                "released_at": "2014-10-27T00:00:00",
                "length": "01:08:36",
                "label": "Big Machine",
                "genres": [
                    "Pop",
                    "Synthpop"
                ],
                "producers": [
                    "Max Martin",
                    "Taylor Swift",
                    "Jack Antonoff",
                    "Nathan Chapman",
                    "Imogen Heap",
                    "Greg Kurstin",
                    "Mattman & Robin",
                    "Ali Payami",
                    "Shellback",
                    "Ryan Tedder",
                    "Noel Zancanella"
                ],
                "album_cover": {
                    "image_id": "ca9232a3-363a-4be6-2870-08d21467e516"
                }
            },
            "has_lyrics": true
        }
    },
    "error": null,
    "success": true
}</code></pre>
						</div>
					</div>
				</article>
				<article id="get-lyric" class="api-docs-article">
					<h2>Get Lyrics</h2>
					<hr />
					<h3>
						<span class="label label-warning">Authorized</span>
						<span class="label label-info">GET</span>
						::
						<code>api/v0/songs/{song-slug}/lyrics</code>
					</h3>
					<h3>
						This endpoint will return the lyrics of a Taylor Swift song.
					</h3>

					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#get-lyric-response" aria-controls="get-lyric-response" role="tab" data-toggle="tab">Response</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="get-lyric-response">
<pre><code class="json">{
    "result": {
        "lyrics": "Midnight\nYou come and pick me up, no headlights\nLong drive\nCould end in burning flames or paradise\nFade into view, oh\nIt's been a while since I have even heard from you (heard from you)\n\nI should just tell you to leave 'cause I\nKnow exactly where it leads but I\nWatch us go 'round and 'round each time\n\nYou got that James Dean daydream look in your eye\nAnd I got that red lip classic thing that you like\nAnd then we go crashing down, we come back every time\n'Cause we never go out of style\nWe never go out of style\n\nYou got that long hair, slick back, white t-shirt\nAnd I got that good girl faith and a tight little skirt\nAnd when we go crashing down, we come back every time\n we never go out of style\nWe never go out of style\n\nSo it goes\nHe can't keep his wild eyes on the road, \nTakes me home\nLights are off, he's taking off his coat, \nI say I heard, oh\nThat you've been out and about with some other girl\nSome other girl\n\nHe says what you heard is true but I\nCan't stop thinking about you and I\nI said I've been there too a few times\n\n'Cause you got that James Dean daydream look in your eye\nAnd I got that red lip classic thing that you like\nAnd then we go crashing down, we come back every time\n'Cause we never go out of style\nWe never go out of style\n\nYou got that long hair, slick back, white t-shirt\nAnd I got that good girl faith and a tight little skirt\nAnd when we go crashing down, we come back every time\n we never go out of style\nWe never go out of style\n\nTake me home\nJust take me home\nYeah, just take me home\n\n(Out of style)\n\nOh, you got that James Dean daydream look in your eye\nAnd I got that red lip classic thing that you like\nAnd then we go crashing down, we come back every time\n we never go out of style\nWe never go out of style",
        "song": {
            "index": 3,
            "slug": "style",
            "title": "Style",
            "length": "00:03:51",
            "writers": [
                "Taylor Swift",
                "Max Martin",
                "Shellback",
                "Ali Payami"
            ],
            "producers": [
                "Max Martin",
                "Shellback",
                "Ali Payami"
            ],
            "album": {
                "slug": "1989",
                "name": "1989",
                "released_at": "2014-10-27T00:00:00",
                "length": "01:08:36",
                "label": "Big Machine",
                "genres": [
                    "Pop",
                    "Synthpop"
                ],
                "producers": [
                    "Max Martin",
                    "Taylor Swift",
                    "Jack Antonoff",
                    "Nathan Chapman",
                    "Imogen Heap",
                    "Greg Kurstin",
                    "Mattman & Robin",
                    "Ali Payami",
                    "Shellback",
                    "Ryan Tedder",
                    "Noel Zancanella"
                ],
                "album_cover": {
                    "image_id": "ca9232a3-363a-4be6-2870-08d21467e516"
                }
            },
            "has_lyrics": true
        }
    },
    "error": null,
    "success": true
}</code></pre>
						</div>
					</div>
				</article>
			</section>
			<section id="images" class="api-docs-section">
				<h1>Images</h1>
				<hr />

				<article id="get-image" class="api-docs-article">
					<h2>Get Image</h2>
					<hr />
					<h3>
						<span class="label label-success">Unauthorized</span>
						<span class="label label-info">GET</span>
						::
						<code>api/v0/images/{image-id}</code>
					</h3>
					<h3>
						This endpoint returns the raw image of the specified image id.
					</h3>

					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#get-image-response" aria-controls="get-songs-image" role="tab" data-toggle="tab">Response</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="get-image-response">
							<div class="thumbnail">
								<img width="500" height="500" src="/api/v0/images/ca9232a3-363a-4be6-2870-08d21467e516" />
							</div>
						</div>
					</div>
				</article>
			</section>
			<section id="bae" class="api-docs-section">
				<h1>Bae</h1>
				<hr />

				<article id="get-bae" class="api-docs-article">
					<h2>Get Bae</h2>
					<hr />
					<h3>
						<span class="label label-success">Unauthorized</span>
						<span class="label label-info">GET</span>
						::
						<code>api/v0/bae</code>
					</h3>
					<h3>
						This endpoint will return a boolean representation of whether Taylor Swift is bae. <sub>NB: this is always true</sub>
					</h3>

					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#get-bae-response" aria-controls="get-bae-response" role="tab" data-toggle="tab">Response</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="get-bae-response">
<pre><code class="json">{
    "result": {
        "bae": true
    },
    "error": null,
    "success": true
}</code></pre>
						</div>
					</div>
				</article>
				<article id="get-bae-status" class="api-docs-article">
					<h2>Get Bae Status of Word</h2>
					<hr />
					<h3>
						<span class="label label-success">Unauthorized</span>
						<span class="label label-info">GET</span>
						::
						<code>api/v0/bae/{word}</code>
					</h3>
					<h3>
						This endpoint will return a boolean representation of whether the word you entered is bae.
					</h3>

					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#get-bae-status-response" aria-controls="get-bae-status-response" role="tab" data-toggle="tab">Response</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="get-bae-status-response">
<pre><code class="json">{
    "result": {
        "bae": false
    },
    "error": null,
    "success": true
}</code></pre>
						</div>
					</div>
				</article>
			</section>
		</div>
	</div>
</section>

@section scripts {
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
	<script>
		hljs.configure({
			tabReplace: '    ',
		});
		hljs.initHighlightingOnLoad();
	</script>
}
