footer{
	color: #fff;
	height: 225px;
	background-color: $primary-red;

	a {
		color: #ffbbc6 !important;
		transition-property: color;
		transition-duration: 0.2s;
		transition-timing-function: linear, ease-in;

		&:hover {
			color: #ffdbe1 !important;
			text-decoration: none;
		}
	}

	> hr {
		margin-top: 0px;
		border-color: #fff;
	}

	> .container {
		padding-top: 20px;
		> p {
			margin-bottom: 2px;

			&.legal {
				margin-top: 5px;
			}
		}
	}
}