footer {
	padding-top: 1px;
	padding-bottom: 20px;
	background-color: #e45a5a;
	color: white;

	> hr {
		border-top: 1px solid white;
	}

	> .container {
		padding-top: 10px;

		> ul {
			list-style: none;
			padding-left: 0;
		}
	}
}
