@{
	ViewBag.Title = "baelor.io";
}

<section id="baelor-splash-section">
	<div class="splash-box">
		<div class="mask">
			<div class="content">
				<h1>baelor.io</h1>
				<h2>a fully <strong>RESTful</strong> api for Taylor Swift</h2>
			</div>
		</div>
		<div>
			<video src="~/video/baelor-home.mp4" loop autoplay poster="~/images/baelor-cover.jpg"></video>
		</div>
	</div>
</section>

<section id="top-banner-section" class="baelor-info-section">
	<div class="api-demo row">
		<div class="col-md-8 col-md-offset-2">
			<h3>
				api example
			</h3>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">http://baelor.io/api/v0/</span>
				<input id="api-preview-path" type="text" class="form-control" placeholder="path" value="songs/style" aria-describedby="basic-addon1">
				<span class="input-group-btn">
					<button id="get-api-preview" class="btn btn-success" type="button">Shake it off!</button>
				</span>
			</div>
			<p>
				<sup>
					*
				</sup>
				this does a simple GET request. The only endpoint that supports unauthenticated GET requests is v0/songs
			</p>

			<div class="loader">
				<div class="loader-pulse"></div>
			</div>

			<div id="api-demo-response">
				<h4 id="api-demo-response-header"></h4>
				<pre id="json-preview-pre"><code id="json-preview" class="json"></code></pre>
			</div>
		</div>
	</div>
</section>

@section scripts {
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
	<script>
	hljs.configure({
		tabReplace: '    ',
	});
	</script>
	<script src="~/js/home.js"></script>
}