@{
	ViewBag.Title = "Baelor Api - ";
}

<div id="baelor-splash">
	<video src="~/video/baelor-home.mp4" loop autoplay poster="~/images/baelor-cover.jpg"></video>

	<div class="mask">
		<div class="content">
			<h1>Baelor Api</h1>
			<h2>A fully <strong>RESTful</strong> API for Taylor Swift</h2>
		</div>
	</div>
</div>

<div class="baelor-info-section" style="background-color: red;">
	<div class="row">
		<div class="col-md-4">
			hi
		</div>
		<div class="col-md-4">
			yo
		</div>
		<div class="col-md-4">
			lo
		</div>
	</div>
</div>
