@{
	ViewBag.Title = "Baelor Api - ";
}

<div id="baelor-splash">
	<video src="~/video/baelor-home.mp4" loop autoplay>
	</video>

	<div class="mask">
		<div class="content">
			<h1>Baelor Api</h1>
			<h2>A fully <strong>RESTful</strong> API for Taylor Swift.</h2>
		</div>
	</div>
</div>

@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<video src="~/video/baelor-home.mp4" loop autoplay>

			</video>
			<div class="container">
				<div class="carousel-caption">
					<p>
						Learn how to build ASP.NET apps that can run anywhere.
						<a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
							Learn More
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>*@