@{
	ViewBag.Title = "About :: Baelor.io";
}

@section socialmeta {
	<!-- Generic -->
	<meta itemprop="name" content="About | Baelor Api">
	<meta itemprop="description" content="About baelor.io, a fully RESTful, and open source, API for Taylor Swift. The most important musician of our generation. And absolute bae.">
	<meta itemprop="image" content="https://baelor.io//images/docs-cover.jpg">
	<meta name="description" content="A fully RESTful, and open source, API for Taylor Swift. The most important musician of our generation. And absolute bae." />

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="&#64;0xdeafcafe">
	<meta name="twitter:title" content="About | Baelor Api">
	<meta name="twitter:description" content="About baelor.io, a fully RESTful, and open source, API for Taylor Swift. The most important musician of our generation. And absolute bae.">
	<meta name="twitter:image:src" content="https://baelor.io/images/docs-cover.jpg">

	<!-- Open Graph data -->
	<meta property="og:title" content="About | Baelor Api" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="https://baelor.io/images/docs-cover.jpg" />
	<meta property="og:description" content="About baelor.io, a fully RESTful, and open source, API for Taylor Swift. The most important musician of our generation. And absolute bae." />
	<meta property="og:site_name" content="Baelor Api" />
}

<section id="about-header">
	<div class="mask">
		<div class="container">
			<h1>about</h1>
			<h2>the <strong>RESTful</strong> taylor swift api</h2>
		</div>
	</div>
</section>

<section id="about-content">
	<div class="row">
		<article class="col-md-offset-2 col-md-4">
			<h3>What even..?</h3>

			<div class="well">
				<p>
					baelor.io - is a fully <strong>RESTful</strong> API for consuming data on the most important artist of our generation.
					Taylor Swift.
				</p>
			</div>
		</article>

		<article class="col-md-4">
			<h3>Why even..?</h3>

			<div class="well">
				<p>
					Want to make <code>taylor_swift_ebooks</code>? Want to get the producers and writers of <code>Shake It Off</code>?
					Now you can do that with a simple HTTP request to baelor.io.
				</p>
				<p>
					<em>I know, truly groundbreaking stuff bro.</em>
				</p>
			</div>
		</article>
	</div>

	<hr class="col-md-offset-3 col-md-6" />

	<div class="row">
		<article class="col-md-offset-2 col-md-4">
			<h3>Bro, shits broken</h3>

			<div class="well">
				<p>
					That's very possible. Report it
					<a href="https://github.com/0xdeafcafe/baelor-api/issues/new" target="_blank">
						here
					</a>
					on the Github issue tracker and I'll get on it as soon as I can. 
				</p>
			</div>
		</article>

		<article class="col-md-4">
			<h3>Who?</h3>

			<div class="well">
				<p>
					I, Alex Forbes-Reed - <a href="https://twitter.com/0xdeafcafe">@@0xdeafcafe</a>, built this to make an example of an API built in ASP vNext. And also because Taylor Swift is complete bae.
				</p>
			</div>
		</article>
	</div>

	<hr class="col-md-offset-3 col-md-6" />

	<div class="row">
		<article class="col-md-offset-2 col-md-4">
			<h3>What is this running on?</h3>

			<div class="well">
				<ul>
					<li>
						The API is built on
						<a href="https://github.com/aspnet/Home" target="_blank">
							ASP vNext
						</a> - 
						<a href="https://github.com/aspnet/Mvc" target="_blank">
							MVC 6
						</a>
					</li>
					<li>
						The API is running on Microsoft Azure
					</li>
					<li>
						The database powering the data storage is Microsoft SQL Server
					</li>
				</ul>
			</div>
		</article>

		<article class="col-md-4">
			<h3>But.. The data?</h3>

			<div class="well">
				<p>
					The album, album cover, and song data was scraped from wikipedia. The lyric data was scraped from a lyric wiki. All data is owned by bae.
				</p>
			</div>
		</article>
	</div>

</section>
