.loader-pulse {
  border: 3px solid #fff;
  border-radius: 30px;
  height: 30px;
  left: 50%;
  opacity: 0;
  top: 50%;
  width: 30px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite; }

@keyframes pulsate {
  0% {
    transform: scale(.1);
    opacity: 0.0; }

  50% {
    opacity: 1; }

  100% {
    transform: scale(1.2);
    opacity: 0; } }

body {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; }

code {
  font-family: Consolas; }

pre {
  border-radius: 0;
  padding: 0; }

a {
  color: #e45a5a !important;
  transition-property: color, text;
  transition-duration: 0.2s;
  transition-timing-function: linear, ease-in; }
  a:hover {
    color: #ff0000 !important; }

#baelor-splash-section {
  padding-top: 50px;
  width: 100%; }
  #baelor-splash-section .splash-box {
    position: relative; }
    #baelor-splash-section .splash-box video {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0; }
    #baelor-splash-section .splash-box .mask {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      z-index: 100;
      padding: 0;
      margin: 0;
      padding-top: 8%;
      background: rgba(164, 164, 164, 0.4); }
      #baelor-splash-section .splash-box .mask .content {
        font-weight: 100;
        text-align: center;
        color: #fff; }
        #baelor-splash-section .splash-box .mask .content h1 {
          font-family: 'Exo', "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-weight: 100;
          font-size: 80px; }
        #baelor-splash-section .splash-box .mask .content h2 {
          font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-weight: 100;
          font-size: 25px; }
        @media (max-width: 768px) {
          #baelor-splash-section .splash-box .mask .content h1 {
            font-size: 55px; }
          #baelor-splash-section .splash-box .mask .content h2 {
            font-size: 20px; } }
        @media (max-width: 480px) {
          #baelor-splash-section .splash-box .mask .content h1 {
            font-size: 30px; }
          #baelor-splash-section .splash-box .mask .content h2 {
            font-size: 16px; } }

.baelor-info-section {
  padding-top: 60px;
  padding-bottom: 90px; }
  .baelor-info-section .api-demo h3 {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    font-weight: 300; }
  .baelor-info-section .api-demo p {
    color: #fff;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 5px; }
  .baelor-info-section .api-demo .loader {
    transition: all 1.3s cubic-bezier(0, 1, 0.5, 1);
    transition-property: height, padding;
    height: 0;
    opacity: 0;
    width: 30px;
    padding: 0 0;
    margin: 0 auto; }
  .baelor-info-section .api-demo #api-demo-response {
    display: none;
    margin-top: 35px; }
    .baelor-info-section .api-demo #api-demo-response h4 {
      font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #fff;
      font-weight: 300; }

#top-banner-section {
  background-color: #e45a5a; }

/*# sourceMappingURL=site.css.map */